1) Wealth Management: Wealth Managers get a one time wealth cut from the HNI clients and charge fees for each of the services they provide. The revenue will be the sum of the wealth cut and fees. Calculate how much each HNI has paid to the firm.

In [27]:
with total_fees as (
select HNI_id, sum(fee) as total_fees_collected
from dma.WMprovision
GROUP by HNI_id)
select wc.HNI_id, c.name, (tf.total_fees_collected + wc.wealthcut) as
total_hni_pay
from dma.wealthcut wc join total_fees tf on wc.HNI_id=tf.HNI_id join dma.client c on wc.HNI_id = c.ID;

HNI_id,name,total_hni_pay
1,Juana Crider,30014918
2,Darrion Matlock,50025008
3,Britney Redmond,30027761
4,Tristin Morse,20015599
5,Annalise Fleming,90023574

2) Asset Management: Asset Managers along with charging fees for their services, also get a profit share from the services they provide. The revenue will be the sum of the fees and profit share. Calculate how much each AM client has paid to the firm. Also show the names of the clients.

In [2]:
with total_pay as (
select AMclient_id, sum(profitshare) + sum(fee) as
total_amclient_pay from dma.AMprovision group by AMclient_id)
select tp.AMclient_id, c.name, tp.total_amclient_pay from
total_pay tp join dma.client c on tp.AMclient_id = c.ID;

AMclient_id,name,total_amclient_pay
6,Connor Champagne,5877
7,Janie Gilman,7367
8,Rashad Cerda,5055
27,Embedly,6330
28,Oyo,8496

3) Investment Banking: Investment Bankers underwrite securities of corporate companies and sell their stocks. They charge a fee/share for underwriting and selling. The revenue brought in by this division will be the (selling price - cost price)\* quantity. Assuming all the securities are sold, show the company name, its net revenue, total selling price, total cost price and the profit Investment bankers make on the sale. The total selling price would be (the cost price per share + the underwriting fee per share) \* quantity

In [3]:
with IB_stock_sell_price as ( select s.security_id,
s.corporateCo_id, (s.price_per_share + cast(u.fee_per_share as
int))*s.total_quantity as sell_price
from dma.securities s join dma.underwriting u on s.security_id =
u.security_id)
select sp.corporateCo_id, c.name, co.net_revenue, sp.sell_price,
(s.price_per_share* cast(s.total_quantity as int)) as cost_price,
(sp.sell_price - (s.price_per_share* cast(s.total_quantity as
int))) as total_profit
from IB_stock_sell_price sp join dma.client c on sp.corporateCo_id
= c.ID join dma.securities s on sp.security_id = s.security_id
join dma.corporateCo co on c.ID = co.client_id;

corporateCo_id,name,net_revenue,sell_price,cost_price,total_profit
26,CustomMade,82000000,1530000,1500000,30000
27,Embedly,62000000,3075000,3000000,75000
28,Oyo,42000000,8040000,8000000,40000
29,Flipkart,22000000,985600,980000,5600
30,Boston Dynamics,20000000,1442400,1440000,2400

4) Private Banking: The money this division brings in is simple. It is the sum of the total savings of the commoners who open an account with the bank. Of course, the net revenue or total profit would be from the high interest loan rates and low savings interest rates. This is captured in the revenue table, but for the sake of the simplicity of this project, this is not expanded.

In [4]:
select sum(total_savings) as total_inflow from dma.commoner;

total_inflow
951009

5) The firm wants to look at the running total of the revenue of each of its division starting from 1st jan 2020 to till date to keep track of its progress. Below query calculates the running total ordered by month.

In [5]:
select div_id, month, revenue, sum(revenue)
over (partition by div_id order by month rows between unbounded
preceding and current row) as runningtotal
from dma.revenue;

div_id,month,revenue,runningtotal
1,2020-01-01,1000000000,1000000000
1,2020-02-01,1100000000,2100000000
1,2020-03-01,1200000000,3300000000
1,2020-04-01,1300000000,4600000000
1,2020-05-01,1400000000,6000000000
1,2020-06-01,1500000000,7500000000
1,2020-07-01,1600000000,9100000000
1,2020-08-01,1700000000,10800000000
1,2020-09-01,1800000000,12600000000
1,2020-10-01,1900000000,14500000000
1,2020-11-01,2000000000,16500000000
1,2020-12-01,2100000000,18600000000
1,2021-01-01,2200000000,20800000000
1,2021-02-01,2300000000,23100000000
1,2021-03-01,2400000000,25500000000
1,2021-04-01,2500000000,28000000000
1,2021-05-01,2600000000,30600000000
1,2021-06-01,2700000000,33300000000
1,2021-07-01,2800000000,36100000000
1,2021-08-01,2900000000,39000000000
1,2021-09-01,3000000000,42000000000
1,2021-10-01,3100000000,45100000000
1,2021-11-01,3200000000,48300000000
1,2021-12-01,3300000000,51600000000
1,2022-01-01,3400000000,55000000000
1,2022-02-01,3500000000,58500000000
1,2022-03-01,3600000000,62100000000
1,2022-04-01,3700000000,65800000000
1,2022-05-01,3800000000,69600000000
1,2022-06-01,3900000000,73500000000
1,2022-07-01,4000000000,77500000000
1,2022-08-01,4100000000,81600000000
1,2022-09-01,4200000000,85800000000
1,2022-10-01,4300000000,90100000000
1,2022-11-01,4400000000,94500000000
1,2022-12-01,4500000000,99000000000
2,2020-01-01,500000000,500000000
2,2020-02-01,600000000,1100000000
2,2020-03-01,700000000,1800000000
2,2020-04-01,800000000,2600000000
2,2020-05-01,900000000,3500000000
2,2020-06-01,1000000000,4500000000
2,2020-07-01,1100000000,5600000000
2,2020-08-01,1200000000,6800000000
2,2020-09-01,1300000000,8100000000
2,2020-10-01,1400000000,9500000000
2,2020-11-01,1500000000,11000000000
2,2020-12-01,1600000000,12600000000
2,2021-01-01,1700000000,14300000000
2,2021-02-01,1800000000,16100000000
2,2021-03-01,1900000000,18000000000
2,2021-04-01,2000000000,20000000000
2,2021-05-01,2100000000,22100000000
2,2021-06-01,2200000000,24300000000
2,2021-07-01,2300000000,26600000000
2,2021-08-01,2400000000,29000000000
2,2021-09-01,2500000000,31500000000
2,2021-10-01,2600000000,34100000000
2,2021-11-01,2700000000,36800000000
2,2021-12-01,2800000000,39600000000
2,2022-01-01,2900000000,42500000000
2,2022-02-01,3000000000,45500000000
2,2022-03-01,3100000000,48600000000
2,2022-04-01,3200000000,51800000000
2,2022-05-01,3300000000,55100000000
2,2022-06-01,3400000000,58500000000
2,2022-07-01,3500000000,62000000000
2,2022-08-01,3600000000,65600000000
2,2022-09-01,3700000000,69300000000
2,2022-10-01,3800000000,73100000000
2,2022-11-01,3900000000,77000000000
2,2022-12-01,4000000000,81000000000
3,2020-01-01,1000000000,1000000000
3,2020-02-01,1200000000,2200000000
3,2020-03-01,1400000000,3600000000
3,2020-04-01,1600000000,5200000000
3,2020-05-01,1800000000,7000000000
3,2020-06-01,2000000000,9000000000
3,2020-07-01,2200000000,11200000000
3,2020-08-01,2400000000,13600000000
3,2020-09-01,2600000000,16200000000
3,2020-10-01,2800000000,19000000000
3,2020-11-01,3000000000,22000000000
3,2020-12-01,3200000000,25200000000
3,2021-01-01,3400000000,28600000000
3,2021-02-01,3600000000,32200000000
3,2021-03-01,3800000000,36000000000
3,2021-04-01,4000000000,40000000000
3,2021-05-01,4200000000,44200000000
3,2021-06-01,4400000000,48600000000
3,2021-07-01,4600000000,53200000000
3,2021-08-01,4800000000,58000000000
3,2021-09-01,5000000000,63000000000
3,2021-10-01,5200000000,68200000000
3,2021-11-01,5400000000,73600000000
3,2021-12-01,5600000000,79200000000
3,2022-01-01,5800000000,85000000000
3,2022-02-01,6000000000,91000000000
3,2022-03-01,6200000000,97200000000
3,2022-04-01,6400000000,103600000000
3,2022-05-01,6600000000,110200000000
3,2022-06-01,6800000000,117000000000
3,2022-07-01,7000000000,124000000000
3,2022-08-01,7200000000,131200000000
3,2022-09-01,7400000000,138600000000
3,2022-10-01,7600000000,146200000000
3,2022-11-01,7800000000,154000000000
3,2022-12-01,8000000000,162000000000
4,2020-01-01,200000000,200000000
4,2020-02-01,210000000,410000000
4,2020-03-01,220000000,630000000
4,2020-04-01,230000000,860000000
4,2020-05-01,240000000,1100000000
4,2020-06-01,250000000,1350000000
4,2020-07-01,260000000,1610000000
4,2020-08-01,270000000,1880000000
4,2020-09-01,280000000,2160000000
4,2020-10-01,290000000,2450000000
4,2020-11-01,300000000,2750000000
4,2020-12-01,310000000,3060000000
4,2021-01-01,320000000,3380000000
4,2021-02-01,330000000,3710000000
4,2021-03-01,340000000,4050000000
4,2021-04-01,350000000,4400000000
4,2021-05-01,360000000,4760000000
4,2021-06-01,370000000,5130000000
4,2021-07-01,380000000,5510000000
4,2021-08-01,390000000,5900000000
4,2021-09-01,400000000,6300000000
4,2021-10-01,410000000,6710000000
4,2021-11-01,420000000,7130000000
4,2021-12-01,430000000,7560000000
4,2022-01-01,440000000,8000000000
4,2022-02-01,450000000,8450000000
4,2022-03-01,460000000,8910000000
4,2022-04-01,470000000,9380000000
4,2022-05-01,480000000,9860000000
4,2022-06-01,490000000,10350000000
4,2022-07-01,500000000,10850000000
4,2022-08-01,510000000,11360000000
4,2022-09-01,520000000,11880000000
4,2022-10-01,530000000,12410000000
4,2022-11-01,540000000,12950000000
4,2022-12-01,550000000,13500000000

6) Identify the total quantity of securities that can be sold now by the commoners i.e. release date should be before today's date. The purpose is to make arrangements for the sale.

In [6]:
select sp.security_id, sum(quantity) ready_to_sell_quantity
from dma.security_purchase sp
where DATEDIFF(day, CAST( GETDATE() AS Date ), release_date) > 0
group by sp.security_id;

security_id,ready_to_sell_quantity
100001,780
200002,325
300003,184
500005,184

7) What are the mean, min, max and range of salaries of employees in each division? T Display the name of the division and the number of employees in each division. he purpose of this query is for the HR department to compare its compensations with other firms to be able to hire best talent.

In [7]:
select d.NAME, avg(e.compensation) as mean_salary,
min(e.compensation) as min_salary, max(e.compensation) as
max_salary, max(e.compensation) - min(e.compensation) as range,
count(*) as num_of_employees
from dma.employee e join dma.division d on e.div_id=d.ID
GROUP by d.NAME;

NAME,mean_salary,min_salary,max_salary,range,num_of_employees
Asset Management,188527,115753,278131,162378,7
Investment Banking,209513,102294,300000,197706,8
Private and Corporate,208986,114220,298792,184572,8
Wealth Management,223477,120715,300000,179285,7

8) Identify how many employees work for each manager. Display the name of the manager, age, salary and the count. The purpose is to identify if the managers are being compensated properly or not.

In [8]:
with emp_count as (
select manager_id, count(*) as no_of_employees from dma.employee
group by manager_id except (select manager_id, count(*) from
dma.employee
where manager_id is null group by manager_id))
select e.ID, e.name, e.compensation, c.no_of_employees from
dma.employee e join emp_count c on e.ID = c.manager_id;

ID,name,compensation,no_of_employees
4,Venkat Krishnamurthy,300000,7
5,Bridgett Kovach,114220,7
7,Lexis Lofton,270000,6
10,Daniela Ceja,300000,6

9) Identify the commoner IDs of those commoners who availed all PCServices. The purpose of this analytical query is to list those commoners to provide them loyalty benefits.

In [9]:
select commoner_id from dma.PCprovision pc1 where
(select count(distinct pc_service_id)
from dma.PCprovision pc2
where pc1.commoner_id=pc2.commoner_id) =
(select distinct count(*) from dma.PCservice)
group by commoner_id;

commoner_id
11
12